h2 可透過右下角的"export"下載資料夾
hr
ul
  li < !DOCTYPE html >這是讓瀏覽器知道這是一份html文件
  li 主要分為html(用來包覆整份文件),head(用來script放,style,meta,title),body(主要內容)
  li title為頁籤的名稱
  li < meta name="viewport" content="width=device-width, initial-scale=1" > 這是用來定義在依照每個裝置大小顯示
  li < meta property="og:title" content="網站名稱或標題"   > 這是寫給fb看的
  li
    a(href="http://www.oxxostudio.tw/articles/201406/social-meta.html") 更多meta訊息可以參考此連結
  li 有兩種方式將檔案放到主機，第一種就是資料夾區分css,js,html;第二種為檢查原始碼複製全部
